.cart-link {

}

.cart-link__link {
    font-family: --main-font;
    font-size: 16px;
    line-height: 1.25;
    color: var(--main-color);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.cart-link__link:hover {
    color: var(--extra-color);
}

.cart-link__link:hover .cart-link__item--price {
    color: var(--dark-orange-color);
}

.cart-link__item {
    margin-left: 4px;
}

.cart-link__item:first-of-type {
    margin-left: 0;
}

.cart-link__item--price {
    color: var(--orange-color);
}

.cart-link__icon {
    width: 19px;
    height: 20px;
    margin-left: 13px;
}