.menu {
    display: flex;
    align-items: center;
    min-height: 60px;
    color: var(--light-color);
}

.menu__logo-link {
    font-family: var(--extra-font);
    font-size: 24px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--extra-color);
    margin-right: 86px;
}

.menu__logo-link:hover {
    color: var(--main-color);
}

.menu__list {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu__list-item {
    margin-right: 44px;
}

.menu__list-item:last-of-type {
    margin-right: 0;
}

.menu__list-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.menu__list-link:hover {
    color: var(--extra-color);
}