:root {
    --main-font: 'MontserratteRegular';
    --secondary-font: 'MontserratteMedium';
    --extra-font: 'MontserratteBlack';

	--main-color: #333333;
	--secondary-color: #5F5F5F;
	--extra-color: #000000;
	--light-grey: #E5E5E5;
	--orange-color: #FFC09D;
	--dark-orange-color: #F5935C;
	--light-color: #FFFFFF;
	--border-color: #777777;
	--price-color: #777777;
	--border-cart: rgba(51, 51, 51, 0.3);
}