.header {
    background: var(--light-color);
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid var(--light-grey);
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}