@import url('./styles/base.css');
@import url('./styles/variable.css');
@import url('./styles/fonts.css');

.App {
    width: 100%;
    font-family: var(--secondary-font);
}
.container {
    max-width: 1264px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.container-page {
    background: var(--light-grey);
    padding-top: 40px;
    padding-bottom: 82px;
}