.bags-card {
    text-align: center;
    padding: 0 23px 0 23px;
    margin-bottom: 37px;
    cursor: pointer;
    transition: filter 0.25s ease-in-out;
}

.bags-card__img {
    margin-bottom: 9px;
    width: 214px;
    height: 222px;
    display: block;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;

}

.bags-card:hover .bags-card__img {
    filter: drop-shadow(0px 1px 3px black);
    border: none;
}

.bags-card__name {
    margin-bottom: 8px;
}

.bags-card__price {
    margin-bottom: 8px;
}